* {
  border: none;
  border-radius: 0;
  font-family: UbuntuMono Nerd Font;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: #1e1e2e;
  /* color: #cdd6f4; */
}

#workspaces {
  background-color: #94e2d5;
  margin: 2px;
  margin-left: 2px;
  border-radius: 0px;
}

#workspaces button {
  padding: 0px 5px;
  background-color: #1e1e2e;
  border-radius: 0px;
}

#workspaces button.empty {
  color: #94e2d5;
  background-color: #1e1e2e;
}

#workspaces button.visible {
  color: #a6e3a1;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #fab387;
}

#workspaces button:hover {
  color: #1e1e2e;
  background-color: #f9e2af;
}

#tray,
#custom-date,
#clock,
#battery,
#pulseaudio,
#network {
  background-color: #24283b;
  padding: 5px 10px;
  margin: 5px 0px;
}

#custom-date {
  color: #7dcfff;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 5px 10px;
}

#clock {
  color: #b48ead;
  border-radius: 0px 5px 5px 0px;
  margin-right: 10px;
}

#battery {
  color: #9ece6a;
}

#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging) {
  background-color: #f7768e;
  color: #24283b;
  border-radius: 5px 5px 5px 5px;
}

#network {
  color: #f7768e;
  border-radius: 5px 0px 0px 5px;
}

#pulseaudio {
  color: #e0af68;
}
